main {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    max-height: 100px;
}

#summary {
    text-align: center;
}

#order {
    text-align: center;
}

#order-list {
    display: flex;
    justify-content: center;
}

.order-item {
    margin: 10px 20px;
}

#total {
    max-width: 200px;
    border: 1px solid #88888c;
    margin: 0 auto;
}

form {
    border: 2px solid #000;
    margin: 40px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-group {
    margin: 20px;
}

small {
    display: block;
    color: #FF0000;
}

.invalid {
    border: 2px solid #FF0000;
}

input[type=submit] {
    margin: 10px auto;
}

