main {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

img {
    max-height: 100px;
}

#summary {
    text-align: center;
}

#order {
    text-align: center;
}

#order-list {
    display: flex;
    justify-content: center;
}

.order-item {
    margin: 10px 20px;
}

#total {
    max-width: 120px;
    border-bottom: 3px solid #000;
    margin: 0 auto;
}

#total h3 {
    margin-bottom: 3px;
}

form {
    border: 2px solid #000;
    margin: 40px auto;
    max-width: 1000px;
}

form p {
    margin-bottom: 0.5rem;
}

.inputs {
    display: flex;
    justify-content: center;
}

.inputs-box {
    max-width: 420px;
}

.form-group {
    margin: 20px;
    text-align: left;
}

small {
    display: block;
    color: #FF0000;
}

.invalid {
    border: 2px solid #FF0000;
}

input[type=submit] {
    margin: 10px auto;
}

#shortcut {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}